body {
    background-color: #e8e4d8;
  }
  /* Header */
  header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-size: 30px;
  }
  header > img {
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
    z-index: -1;
  }
  header > div {
    height: 100vh;
    width: 100%;
  }
  header > div h2 {
    font-family: Trocchi;
    font-weight: 400;
  }
  header > div > p {
    font-weight: 700;
    font-family: Sulphur Point;
  }
  header > div > a {
    background-color: #f9ab0c !important;
    color: white !important;
  }
  div#backgroundImage {
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 0;
    background-image: url("../assets/img/Luxury/luxury_09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: opacity(40%);
    -webkit-filter: opacity(40%);
  }
  div#mainContent {
    font-family: Roboto;
    width: 100%;
    color: black;
    font-size: 30px;
  }
  div#mainContent > p {
    width: 60%;
    text-align: center;
    margin: 5% 0;
    font-size: .75em;
  }
  div#mainContent > h1 {
    margin: 2.5% 0;
  }
  div#section {
    background-color: transparent; 
    width: 100%; 
    height: auto
  }
  div#section > p {
    width: 70%;
    text-align: center;
    margin: 3% auto;
  }
  /* Header */
  #room-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 50px;
  }
  .card-img-top, .card-body {
    height: 50%;
  }
  .card-img-top > img {
    width: 100%;
    height: 50%;
  }
  .card-body {
    height: 40%;
  }
  .card-text {
    font-weight: 400;
  }
  .card > a {
    background-color: #f9ab0c;
    color: white;
    align-self: flex-start;
    margin-left: 1rem;
    margin-bottom: 10px;
  }
  .card-title {
    font-family: Trocchi;
    font-weight: 400;
  }
  @media (max-width: 576px) {
    .card-title {
        font-size: 0.5em !important;
    }
    .card-text, #section > p, .card > a, header > div > a {
        font-size: 0.25em !important;
    }
    .card {
        height: 40vh !important;
      }
  }
  @media (max-width: 768px) {
    header > div > h2 {
        font-size: 1.4em;
    }
    header > div > p {
        font-size: .7em;
    }
    .card-title {
        font-size: 0.6em;
    }
    .card-text, #section > p, .card > a, header > div > a {
        font-size: 0.35em;
    }
    .card {
        width: 45vw;
        height: 50vh;
        margin: 0 2.5%;
      }
      .card > a {
        padding: 0.2em 0.4em;
      }
  }
  @media (min-width: 768px) {
    header > div > h2 {
        font-size: 1.6em;
    }
    header > div > p {
        font-size: .8em;
    }
    .card-title {
        font-size: 0.7em;
    }
    .card-text, #section > p, .card > a, header > div > a {
        font-size: 0.35em;
    }
    .card {
        width: 30vw;
        height: 60vh;
        margin: 0 1.5%;
      }
      .card > a {
        padding: 0.4em 0.6em;
      }
  }
  @media (min-width: 992px) {
    header > div > h2 {
        font-size: 1.8em;
    }
    header > div > p {
        font-size: .9em;
    }
    .card-title {
        font-size: 0.75em;
    }
    .card-text, #section > p, .card > a, header > div > a {
        font-size: 0.45em;
    }
    .card {
        width: 30%;
        height: 70vh;
        margin: 0 1.5%;
      }
      .card > a {
        padding: 0.4em 0.4em;
      }
  }
  @media (min-width: 1140px) {
    header > div > h2 {
        font-size: 2em;
    }
    header > div > p {
        font-size: 1em;
    }
    .card-title {
        font-size: 0.8em;
    }
    .card-text, #section > p, .card > a, header > div > a {
        font-size: 0.5em;
    }
    .card > a {
        padding: .75em 1.5em;
      }
  }